nav > ul{
    display: flex;
    
  
}
nav ul li{
    padding-right: 50px;
    padding-bottom: 60px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: black;


}

nav li a:hover{
    background-color: lightgray;
}


